@import "tailwindcss";

@theme {
  --color-primary: #2563eb;
  /* blue-600 */
}

body {
  background-color: var(--tg-theme-bg-color, #f8fafc);
  /* slate-50 fallack */
  color: var(--tg-theme-text-color, #0f172a);
  /* slate-900 fallback */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}